<div class="container" style="height: 100%; overflow-x: hidden;">
  <div class="row">
      <div class="col-md-4"><mat-card>
        <mat-card-content>

          <h3>Visit in Link</h3>
          <hr style="color: orange; width: 100%;">
          <br><h4 style="text-align: center;">999</h4>
        </mat-card-content>
       </mat-card>
      </div>
      <br>

      <div class="col-md-4"><mat-card> <mat-card-content>

       <h3>Visit in Panel</h3>
       <hr style="color: orange; width: 100%;">
       <br><h4 style="text-align: center;">999</h4>
      </mat-card-content></mat-card>
      </div>
      <br>

      <div class="col-md-4"><mat-card> <mat-card-content>

        <h3>Visit in Panel</h3>
        <hr style="color: orange; width: 100%;">
        <br><h4 style="text-align: center;">999</h4>
       </mat-card-content></mat-card>
       </div>

     </div>
     <br>



    </div>
    <div class="row">
      <div class="col-md-12">
    <mat-card> <mat-card-content>
      <div class="container">
<div class="row">
  <div class="col-md-8">
  <mat-form-field color="warn" style="width: 100%;" class="example-full-width">
        <mat-label>URL LINK</mat-label>
        <input   matInput placeholder="Ex. http://www.boutiquenagah.com" >
      </mat-form-field>
      </div>
      <div class="col-md-4">
        <BR>
        <button mat-stroked-button color="warn" style="width: 100%;">Subir</button>

      </div>
</div>
</div>
     <hr style="color: orange; width: 100%;">
     <br>

     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Não sei</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Não sei </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Não sei </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    </mat-card-content></mat-card>

</div>
</div>
